.Selectors{
    margin-top: 2%;
    background-color: white!important;
    border-radius: 15px;
    margin-top: 10px;
}
.register__date3S{
    margin-left: 10px !important;
      margin-right: 10px !important;
      height: 40px;
      width: 65%;
      outline: #CCD0D5;
      border-radius: 5px;
      float:inherit;
}
.MuiFormControl-marginNormal {
    max-width: 130px!important;
}